# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/
.venv/

# Environment Variables
.env
.env.local

# Temporary files & Received files
*.tmp
*.log
SysNode_Received/

# OS specific
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Node / React (Mobile Web Gateway)
web_mobile/node_modules/
web_mobile/build/
web_mobile/.next/

# React Native (Mobile App Native)
mobile_app/node_modules/
mobile_app/android/.gradle/
mobile_app/android/.cxx/
mobile_app/android/build/
mobile_app/android/app/build/
mobile_app/android/app/.cxx/
mobile_app/.expo/
mobile_app/**/*.apk

descargas/
